<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^services/hospital-clinic-cleaning/?$ /services/window-cleaning [R=301,L]
	RewriteRule ^services/heavy-duty-cleaning/?$ /services/commercial-deep-cleaning [R=301,L]
	RewriteCond %{DOCUMENT_ROOT}/$1.html -f
	RewriteRule ^(.+?)/?$ $1.html [L]
</IfModule>

ErrorDocument 404 /404.html

<IfModule mod_headers.c>
	Header set Cache-Control "public, max-age=0, must-revalidate"

	# Cache in browser all assets
	<If "%{REQUEST_URI} =~ m#^/assets/.*$#">
		Header set Cache-Control "public, max-age=604800"
	</If>
</IfModule>
